body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

.page {
  display: none;
  padding: 30px;
}

.page.active {
  display: block;
}

.container {
  max-width: 380px;
  margin: auto;
  text-align: center;
}

.center {
  margin-top: 25vh;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
}

.btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 16px;
}

.primary {
  background: #2c6cf6;
  color: white;
}

.secondary {
  background: #333;
  color: white;
}

.danger {
  background: #d62828;
  color: white;
}

.full {
  width: 100%;
}

.hidden {
  display: none;
}
